.DS_Store
Soundy.swiftpm/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Soundy.swiftpm/.swiftpm/xcode/package.xcworkspace/xcuserdata/Itta.xcuserdatad/UserInterfaceState.xcuserstate
Soundy.swiftpm/.swiftpm/xcode/xcuserdata/Itta.xcuserdatad/xcschemes/xcschememanagement.plist
